<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>***Checkerboard***</h1>
    <div class="go">
        {% for i in range (row) %}
            {% if i %2 == 0 %}
            <div class="tas">
                {% for j in range(col//2) %}
                    <div class="star"></div>
                    <div class="sun"></div>
                {% endfor %}
            </div>
            {% else %}

            <div class="tas">

                {% for j in range(col//2) %}
                    <div class="sun"></div>
                    <div class="star"></div>
                {% endfor %}
            </div>
            {% endif %}
        {% endfor %}
        


    </div>
</body>
</html>

<style>
    *{
        margin: 0;
        padding: 0;
    }
    .go{
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-items: center;

    }
    .tas{
        display: flex;
        flex-direction: row;

    }
    .star{
        width: 100px;
        height: 100px;
        background-color: {{color1}};


    }
    .sun{
        width: 100px;
        height: 100px;
        background-color: {{color2}};

    }
</style>
