.container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 80%;
    margin: 0 auto;
}
.title {
    text-align: center;
}
.col1 {
    height: 200px;
    width: 100%;
    background-color: rgb(0, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.col2 {
    height: 200px;
    width: 100%;
    background-color: rgb(200, 99, 199);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.col3 {
    height: 200px;
    width: 100%;
    background-color: rgb(153, 100, 203);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
img {
    height: 170px;
    width: 170px;
    border-radius: 15px;
}



    
