.nav{
    display: flex;
    justify-content: space-between;
    background-color: grey;
}
.nav-links{
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
    list-style-type: none;
    align-items: center;
}
a{
    text-decoration: none;
    color: white;
}
.nav-title{
    margin-left: 10px;
    color: white;
}
.btn{
    width: 100px;
    height: 30px;
    background-color: aqua;
    box-shadow: 4px 4px 2px 1px black; 
    color: whitesmoke;
    font-family: "Roboto",sans-serif;
}
.active{
    font-weight: bold;
}
